/* Empty file for template. Remember to edit only this file and not the HTML file */
.intro{
    font-style: oblique;
    align-self: center;
}
*{
    background-color: lightblue;
    font-family: monospace;
    text-align: center;
    cursor: crosshair;
}
p{
    font-weight: 900;
    color: blueviolet;
}
#zen-intro {
    text-decoration: overline underline;
}
div p{
    text-align: start;
    font-style: oblique;
}
header, a{
    color: rgb(232, 25, 25);
}
a:visited{
    color: chartreuse;
    text-decoration: line-through;
}
div.explanation{
    color: forestgreen;
}
a:hover{
    font-size: x-large;
    transform: rotate(90deg);
}
a:link{
    text-decoration: none;
}
p::first-letter{
    font-size: 150%;
}
h3::first-line{
    font-size: 125%;
}
a:active{
    background-color: yellow;
}
P::after{
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.525);
    content: " So Cool.";
}
header::before{
    font-size: larger;
    content: "Important stuff, please read";
}
p:empty{
    position: relative;
}
p:first-of-type{
    font-family: 'Times New Roman', Times, serif;
}
p:last-of-type{
    font-weight: lighter;
}
div > p{
    transform: rotate(359deg);
}
[class]{
    cursor: progress;
}
[role=contentinfo]{
    transform: rotate(356deg);
}
[class~=benefits]{
    transform: scale(.95);
}
[id|="css"]{
    background-color: rgb(29, 93, 149);
}
a[href^="http"]{
    color: #ff00e1;
}
