/* Empty file for template. Remember to edit only this file and not the HTML file */
.intro{
    font-style: oblique;
}
*{
    background-color: lightblue;
    font-family: monospace;
    cursor: crosshair;
    display: grid;
}
div{
    font-weight: 900;
    color: blueviolet;
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 10px;
    margin: 5%;

}
#zen-intro {
    text-decoration: overline underline;
}
div p{
    font-style: oblique;
}
header, a{
    color: rgb(232, 25, 25);
}
a:visited{
    color: chartreuse;
    text-decoration: line-through;
}
div.explanation{
    color: forestgreen;
}
a:hover{
    font-size: xx-large;
}
a:link{
    text-decoration: wavy;
}
p::first-letter{
    font-size: 150%;
}
h3::first-line{
    font-size: 125%;
}
a:active{
    background-color: yellow;
}
P::after{
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.525);
    content: " So Cool.";
}
header::before{
    font-size: larger;
    content: "Important stuff, please read";
}
p:empty{
    position: relative;
}
p:first-of-type{
    font-family: 'Times New Roman', Times, serif;
}
p:last-of-type{
    font-weight: lighter;
}
div > p{
    transform: rotate(360deg);
}
[class]{
    cursor: progress;
}
[role=contentinfo]{
    transform: rotate(360deg);
}
[class~=benefits]{
    transform: scale(.999);
}
[id|="css"]{
    background-color: rgb(36, 122, 198);
}
a[href^="http"]{
    color: #ff00e1;
}
a[class$="name"]{
    color: rgb(255, 136, 0);
}
footer + a{
    font-size: larger;
}
p ~ ul{
    size: 100.001%;
}
.main.supporting{
    font-size: large;
}
.participation .zen-participation{
    font: optional;
}
div[class*="support"]{
    cursor: crosshair;
}
p:first-child{
    color: #0000ff;
}
a:focus{
    transform: rotate(180deg);
}
p:last-child{
    color: #fbff00;
}
:not(body){
    transform: rotate(360deg);
}
p:nth-child(3){
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:nth-last-child(1){
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p:nth-last-of-type(2){
    font-family: 'Courier New', Courier, monospace;
}
h3:nth-of-type(1){
    color: chocolate;
}
a:only-of-type{
    transform: rotate(360deg);
}
a:only-child{
    transform: rotate(360deg);
}
:root{
    background-color: #fbff00;
}
::selection{
    color: white;
    background-color: black;
}